* {
    font-style: glyphcons-halflings;
    src: url("fonts/glyphicons-halflings-regular.eot");
    src:
        url("fonts/glyphicons-halflings-regular.woff") format("woff"),

}

.first_div {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("fondo1.jpg");
    background-size: 100% 120%;
}


.menu {}


.navegador {
    z-index: 4;
    position: sticky;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0484a9+20,0484a9+31,066281+91 */
    background: #0484a9;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #0484a9 20%, #0484a9 31%, #066281 91%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0484a9', endColorstr='#066281', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    left: 0px;
    height: 40px;

}


.navegador a {
    position: relative;
    left: 350px;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
    color: white;
}


.icons img {
    top: -30px;
    position: relative;
    left: 800px;
    height: 30px;
    width: 30px;
}

.icons a {
    padding: 10px;
}

.logo {
    width: 400px;
}

.logo img {
    width: 200px;
    margin-left: 5px;
}


.logo_text1 {
    font-size: 30px;
    margin: 40px;
}


.logo_text2 {

    font-size: 30px;
    margin: 65px;

}


.main_text {
    position: absolute;
    left: 430px;
    top: 180px;
}


.main_text .viaja {
    font-size: 90px;
    color: white;
}


.main_text .viaja2nd {
    color: white;
    font-size: 60px;

}


.el_boton {
    background-color: yellow;
    font-size: 40px;
    height: 70px;
    width: 250px;
    position: relative;
    left: 280px;
    top: 60px;

}